/saved_model_baseline/model_loss0.540972_acc0.013869_shape_320_320_epoch15.pkl
/saved_model_baseline/model_loss0.540987_acc0.013855_shape_320_320_epoch13.pkl
/saved_model_baseline/model_loss0.541307_acc0.014126_shape_320_320_epoch16.pkl
/saved_model_baseline/model_loss0.541321_acc0.014126_shape_320_320_epoch14.pkl
/saved_model_baseline/model_loss0.541337_acc0.014115_shape_320_320_epoch13.pkl
/saved_model_baseline/model_loss0.541701_acc0.014362_shape_320_320_epoch12.pkl
/saved_model_baseline/model_loss0.541707_acc0.014360_shape_320_320_epoch8.pkl
/saved_model_baseline/model_loss0.541712_acc0.014356_shape_320_320_epoch7.pkl
/saved_model_baseline/model_loss0.541736_acc0.014342_shape_320_320_epoch6.pkl
/saved_model_baseline/model_loss0.542471_acc0.013531_shape_320_320_epoch5.pkl
/saved_model_baseline/model_loss0.542475_acc0.013527_shape_320_320_epoch1.pkl
/saved_model_baseline/model_loss0.543434_acc0.013747_shape_320_320_epoch0.pkl
/baiduLaneSegDataRead/data_320X320/img/
/baiduLaneSegDataRead/data_320X320/label/
/baiduLaneSegDataRead/Gray_Label/Gray_Label/
/baiduLaneSegDataRead/Labels_Fixed/
/baiduLaneSegDataRead/Road02/
/baiduLaneSegDataRead/Road03/
/baiduLaneSegDataRead/Road04/
/baiduLaneSegDataRead/data_320X320/
/baiduLaneSegDataRead/Gray_Label/Gray_Label/
/baiduLaneSegDataRead/Labels_Fixed/
/baiduLaneSegDataRead/Road02/
/baiduLaneSegDataRead/Road03/
/baiduLaneSegDataRead/Road04/
